# Lists

In [2]:
my_list=[1,2,3]

In [3]:
my_list

[1, 2, 3]

## Lists can hold multiple data types in it

In [4]:
my_list=['one',2,3.0,['four','five']]

In [5]:
my_list

['one', 2, 3.0, ['four', 'five']]

In [6]:
my_list[1]

2

In [7]:
my_list[-1]

['four', 'five']

In [9]:
my_list[-1][0] # second index

'four'

### lists are mutable, unlike strings

In [11]:
my_list[2]

3.0

In [12]:
my_list[2]='Updated'
my_list

['one', 2, 'Updated', ['four', 'five']]

In [13]:
my_list[2:]

['Updated', ['four', 'five']]

In [14]:
other_list=['six','seven']

In [15]:
other_list

['six', 'seven']

In [17]:
my_list+other_list # 2 lists are concatenated, but neither of them are updated

['one', 2, 'Updated', ['four', 'five'], 'six', 'seven']

In [18]:
my_list

['one', 2, 'Updated', ['four', 'five']]

In [19]:
other_list

['six', 'seven']

In [40]:
new_list=my_list+other_list # the concatenated value can be saved into a new list, and the existing lists aren't updated
new_list

['one',
 2,
 'Updated',
 ['four', 'five'],
 'new value',
 ['six', 'seven'],
 'eight',
 'nine',
 'six',
 'seven']

In [23]:
my_list

['one', 2, 'Updated', ['four', 'five']]

In [24]:
my_list.append('new value') # append() will add the element at the last index

In [25]:
my_list

['one', 2, 'Updated', ['four', 'five'], 'new value']

In [35]:
len(my_list)

8

### Difference between append() and extend()

In [28]:
my_list.append(['six','seven'])

In [27]:
my_list

['one', 2, 'Updated', ['four', 'five'], 'new value', ['six', 'seven']]

#### The list ['six','seven'] is added as a single element at the end when append() is used

In [29]:
my_list

['one',
 2,
 'Updated',
 ['four', 'five'],
 'new value',
 ['six', 'seven'],
 ['six', 'seven']]

In [44]:
my_list

['one', 2, 'Updated', ['four', 'five'], 'new value', ['six', 'seven']]

In [43]:
len(my_list)

6

In [45]:
my_list.extend(['eight','nine'])

In [46]:
my_list

['one',
 2,
 'Updated',
 ['four', 'five'],
 'new value',
 ['six', 'seven'],
 'eight',
 'nine']

In [48]:
len(my_list) # extend() adds each element to the original list, instead of adding it is a signle element

8

In [50]:
my_list.pop() #pop() popes out the last element and returns its value

'eight'

In [51]:
my_list

['one', 2, 'Updated', ['four', 'five'], 'new value', ['six', 'seven']]

In [52]:
my_list.pop(3) # we can pass the index position to be popped

['four', 'five']

In [53]:
my_list

['one', 2, 'Updated', 'new value', ['six', 'seven']]

In [54]:
my_list=['a','s','d','f','g']

In [56]:
my_list.sort() # doesn't return the value, it sorts the list itself

In [57]:
my_list

['a', 'd', 'f', 'g', 's']

In [58]:
my_list=['a','s','d','f','g']

In [59]:
sorted_list=my_list.sort() # sort doesn't return the value

In [60]:
sorted_list

In [61]:
type(sorted_list)

NoneType

In [62]:
my_list # my_list itself is sorted

['a', 'd', 'f', 'g', 's']

In [63]:
num_list=[1,5,3,8]

In [64]:
num_list.sort()
num_list

[1, 3, 5, 8]

In [65]:
my_list=['ab','aa']
my_list.sort()
my_list

['aa', 'ab']

<b> reverse() also doesn't return the value, it reverses the list itself <b>

In [66]:
my_list.reverse()

In [67]:
my_list

['ab', 'aa']

In [68]:
num_list.reverse()

In [69]:
num_list

[8, 5, 3, 1]

In [70]:
copy_my_list=my_list.copy()
copy_my_list

['ab', 'aa']

### List Insert
<i>Syntax: list.insert(index,value)

In [71]:
my_list

['ab', 'aa']

In [89]:
my_list.insert(2,'vamsi')

In [73]:
my_list

['ab', 'aa', 'vamsi']

In [74]:
my_list.insert(5,'krishna')

In [75]:
my_list

['ab', 'aa', 'vamsi', 'krishna']

In [76]:
len(my_list)

4

In [77]:
my_list.insert(14,'new value')

In [78]:
my_list

['ab', 'aa', 'vamsi', 'krishna', 'new value']

In [79]:
len(my_list)

5

In [81]:
my_list[4] # even if the index is larger than existing length, insert() will just append to the end

'new value'

In [82]:
my_list

['ab', 'aa', 'vamsi', 'krishna', 'new value']

In [83]:
my_list.insert(1,'inserted')

In [84]:
my_list

['ab', 'inserted', 'aa', 'vamsi', 'krishna', 'new value']

In [85]:
my_list.remove(1)

<class 'ValueError'>: list.remove(x): x not in list

In [90]:
my_list.remove('vamsi') # removes the value from the list

In [91]:
my_list

['ab', 'inserted', 'aa', 'krishna', 'new value']

In [92]:
my_list.append('krishna')

In [93]:
my_list

['ab', 'inserted', 'aa', 'krishna', 'new value', 'krishna']

In [94]:
my_list.remove('krishna')

In [96]:
my_list # remove() only deletes the 1st occurance of the value

['ab', 'inserted', 'aa', 'new value', 'krishna']