# For Loops

In [ ]:
mylist=[1,2,3,4,5]

In [ ]:
mylist

[1, 2, 3, 4, 5]

In [ ]:
for n in mylist:
    print(n)

1
2
3
4
5

In [ ]:
for n in mylist[0:6:2]: #slicing the list in for loop
    print(n)

1
3
5

In [ ]:
for n in mylist[1:6:2]:
    print(n)

2
4

In [ ]:
# find even numbers in the list
for n in mylist:
    if n % 2==0:
        print(n)

2
4

In [ ]:
for n in mylist:
    if n % 2==0:
        print(n)
    else:
        print(f'{n} not an even')

1 not an even
2
3 not an even
4
5 not an even

In [ ]:
# sum of numbers in the list
list_sum=0
for n in mylist:
    list_sum = list_sum+n
    print(list_sum)

1
3
6
10
15

In [ ]:
list_sum # list_sum is printed and updated everytime, hence list_sum shows the value of last iteration, but is printed everytime inside the loop

15

In [ ]:
sum_list=0
for n in mylist:
    sum_list=sum_list+n
print(sum_list)

15

In [ ]:
sum_list #sum_list is updated everytime, but printed only once after the for loop

15

# Loop through strings

In [ ]:
myname='vamsiKrishna'
for c in myname:
    print(c)
# it just prints the chars in strings one by one, it doesn't convert to a list
# String is considered as an iterable object

v
a
m
s
i
K
r
i
s
h
n
a

In [ ]:
list(myname) # converts string to a list

['v', 'a', 'm', 's', 'i', 'K', 'r', 'i', 's', 'h', 'n', 'a']

In [ ]:
my_string_list=[]
for c in myname:
    my_string_list.append(c)
print(my_string_list)

['v', 'a', 'm', 's', 'i', 'K', 'r', 'i', 's', 'h', 'n', 'a']

## when you don't need the for loop var inside the loop, you can use underscore as a placehoder

In [ ]:
mylist=[1,2,3,4,5]
for c in mylist:
    print('Hello') # we are not using the variable 'c' inside the loop

Hello
Hello
Hello
Hello
Hello

In [ ]:
for _ in mylist:
    print('Hello') # just to improve readability

Hello
Hello
Hello
Hello
Hello

In [ ]:
mytup=(1,2,3,4)
for n in mytup:
    print(n)

1
2
3
4

# Tuple Unpacking
Most of the common methods returns a list of tuples, because we can unpack the tuples

In [ ]:
mylist=[(1,2),(3,4),(5,6)]

In [ ]:
mylist # each item in list is a tuple

[(1, 2), (3, 4), (5, 6)]

In [ ]:
for item in mylist:
    print(item) # will print each tuple

(1, 2)
(3, 4)
(5, 6)

## to access inidividual elements inside the tuple

In [ ]:
for (a,b) in mylist: # declare loop variables similar to the tuple, and extract them individually
    print(a)
    print(b)

1
2
3
4
5
6

In [ ]:
for (a,b) in mylist:
    print(a)

1
3
5

In [ ]:
for a,b in mylist: # () are optional
    print(a+b)

3
7
11

In [ ]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for a,b,c in mylist:
    print(b)

2
5
8

In [ ]:
for a,b,c in mylist:
    print(b+c)

5
11
17

# Loop through dictionaries

In [1]:
mydict={'name':'vamsi','place':'Hyd'}

In [ ]:
for item in mydict: #By default mydict will iterate only keys
    print(item)

name
place

In [ ]:
for item in mydict.items():
    print(item)

('name', 'vamsi')
('place', 'Hyd')

## each item is printed as a tuple, we can use tuple unpacking

In [ ]:
for key,value in mydict.items():
    print(key)

name
place

In [ ]:
for key,value in mydict.items():
    print(f'{key} : {value}')

name : vamsi
place : Hyd

In [2]:
for value in mydict.values():
  print(value)

vamsi
Hyd

In [3]:
for key in mydict.keys():
  print(key)

name
place